nohup.out
.config/evolution/
.config/gh/
.config/connections.db
.thunderbird/*.default*
.thunderbird/*.ini
.librewolf/*.default*
.librewolf/*.ini
cc*
*.swp
*.swo
libreoffice/
.config/libreoffice/
.librewolf/firefox-mpris
zoom*
.config/libreoffice/4/user
